@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "reset.scss";


.content {
    max-width: 1280px;
    padding: 0 80px;
    margin: 0 auto;
}
.cyan-btn{
    padding: 0 14px;
    height: 30px;
    background: #24B47E;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 4px;
}
.box-icon{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 6px;
}
.dropbox {
    img{
        padding: 0 8px;
    }
}
.icons {
    display: flex;
    &>img{margin: 0 8px;}
}

.header {
    &__flexbox{
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    background: #181818;
    color: #fff;
    &__menu {
        display: flex;
        align-items: center;
        padding: 0 -10px;
    }

    &__logo {
        width: 123px;
        height: 24px;
        margin-right: 40px;
    }
    &__item{
        display: flex;
        align-items: center;
        padding: 0 10px;
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 20px;
        color: #EEEEEE;
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    &__start-project {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
    }

    &__sign-in {
        margin-left: 20px;
        
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #EEEEEE;
        
        
    }
}
.promo {
    background: #181818;
    color: #fff;
    padding: 128px 0 200px 0;
    &__flexbox-main {
        display: flex;
        justify-content: space-between;
    }
    &__body {
        margin-left: -40px;
    }
    &__storage {
        display: flex;
        align-items: center;
        margin-bottom: 27px;
        span{
            margin-left: 12px;
            font-family: 'Roboto';
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;
        }
    }
    &__title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #FFFFFF;
        margin-bottom: 57px;
    }
    &__text {
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 28px;
        color: #E0E0E0;
        margin-bottom: 16px;
    }
    &__start-btn {
        display: inline-block;
        margin-top: 43px;
        margin-left: 40px;
        margin-bottom: 96px;
        font-family: 'Roboto';
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
    }
    &__img{
        align-self: flex-start;
    }

    &__flexbox-bot {
        display: flex;
        margin: 0 -55px;
        &>div{
            width: 261px;
            margin: 0 55px;
            &>h3{
                font-family: 'Roboto';
                font-size: 18px;
                line-height: 28px;
                color: #FFFFFF;
                margin-top: 16px;
                margin-bottom: 21px;
            }
            &>p{
                font-family: 'Roboto';
                font-size: 18px;
                line-height: 28px;
                color: #E0E0E0;
            }
        }
    }

}
